body {
	background-color: #000;
	color: #eee;
	
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 10pt;
}


div#wrap {
	width: 880px;
	margin-left: auto; 
  margin-right: auto;
	position: relative;
}

div#footer {
  clear: both;
	margin-top: 20px;
  margin-bottom: 20px;
	text-align: center;
	color: green;
}

div#status_msg {
	clear: both;
	font-size: 14pt;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #0e0;
}

div.search {
	position: absolute;
	right: 0px;
	top: 0px;
}

.graph {
	margin-right: auto;
	margin-left: auto;
}
.rightgraph {
	float: right;
}


.headline {
	text-align: center;
	clear: both;
}
.updated_on {
	text-align: center;
	color: gold;
}

.section_title {
	display: block;
	background-color: #222;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	color: gold;
	clear: both;
}


div.trophy_group {
	margin-top: 30px;
	margin-bottom: 20px;
}


br.trophy_break {
	clear: both;
}


div.trophy {
    width: 180px;
/*    min-height: 280px;
	  height: auto!important;
	  height: 280px;
*/
    margin: 20px;
	  margin-top: 10px;
    float: left;
}

div.doublewide {
	width: 400px;
}

table.trophy {
	width: 100%;
	border: 0;
}
.trophy h3 {
	height: 40px;
	display: block;
}

.trophy thead {
	display: none;
}
.trophy .value,.index {
	color: #0e0;
	width: 30px;
}

.trophy td.value {
	text-align: right;
	width: 50px;
}

.even {
    background: #222;
}

.trophy span.monty_player {
	display: inline-block;
	width: 80px;
}

.trophy .bells {
	font-weight: bold;
	color: gold;
}

.trophy a:link {
	color: #eee;
	text-decoration: none;
}
.trophy .bells a:link {
	color: gold;
}
.trophy a:visited {
	color: #eee;
	text-decoration: none;
}
.trophy .bells a:visited {
	color: gold;
}


div.trophy_row {
	clear: both;
}



.selector {
	text-align: center;
}
.selector a:link,a:visited {
	text-decoration: none;
	color: #eee;
}
.selector ul {
	list-style-type: none;
}
.selector li {
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
}


.game span {
	display: inline-block;
}

.game .role,.race,.gender0,.align0 {
	width: 40px;
}

.game .maxhp {
	width: 100px;
	text-align: right;
}
.game .maxhp:after {
	content: " HP (max)";
}
.game .turns {
	width: 100px;
	text-align: right;
}
.game .turns:after {
	content: " turns";
}
.game .points {
	width: 130px;
	text-align: right;
}
.game .points:after {
	content: " points";
}
.game .death {
	margin-left: 30px;
}

.player .graph {
	padding-top: 20px;
	padding-bottom: 20px;
}

img.graph {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.player .games {
	margin-left: auto;
	margin-right: auto;
}


table.games {
	width: 860px;
	margin: 10px;
}
table.games .player,.role,.race,.gender,.align {
	display: none;
}
table.games td {
	padding-top: 2px;	
	padding-bottom: 2px;
}
table.games th { 
	text-align: center; 
	font-weight: bold;
	padding-bottom: 5px;
}
table thead th {
	border-bottom: 1px solid green;
}
table.games th.character { text-align: left; }
table.games .character { width: 25%; }

table.games td.conducts { 
	text-align: right;
	padding-right: 30px;
} 
table.games td.max_hp {
	text-align: right;
	padding-right: 15px;
}
table.games td.turns {
	text-align: right;
	padding-right: 10px;
}
table.games td.realtime {
	text-align: right;
	padding-right: 10px;
}
table.games td.score {
	text-align: right;
	padding-right: 10px;
}
table.games .outcome { 
	text-align: left; 
	padding-left: 10px;
}
